h1,
p {
    text-align: center;
}

body {
    background: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
}

.croissant-photo {
    max-width: 100%;
    border-radius: 15px;
    display: block;
    margin: 25px auto;
}

footer {
text-align: center;
}

footer a {
    margin: 0 10px;
    color: purple;
}